* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  
}

body {
  background-color: #143F6B;
  margin: 0;
  min-height: 100vh;
 padding: 10px;
 
}
  


.screen{
  display:grid;
  grid-template-rows:0.5fr 1fr 2fr;
  grid-template-columns: 1fr;
  height:97vh;
}

