*, *::before, *::after {
  box-sizing: border-box;
}



.piano {
 
  display: flex;
grid-row: 3;
align-self:flex-end;
justify-content:center;

 height: 90%; 
}

h1{
  text-align:center;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  width:6%;
  height: 90%;
  background: #ffc;
  background: linear-gradient(45deg, #ffe, #fff);
  border: 1px solid #333;
  border: 1px solid #876;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 8px 6px -6px black;
}

.white.active,.white:active {
  background: #eee;
  background: linear-gradient(45deg, #ddc, #ddd);
  box-shadow: 0 4px 3px -3px black;
  box-shadow: inset 2px 0px 3px -1px rgba(0,0,0,0.61);
}


.black {
  color:white;
  --width:3%;
  height: 60%;
  background: #332;
  background: linear-gradient(225deg, #332, #000);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 8px 6px -6px black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active,.black:active {
  background: linear-gradient(225deg, #332, rgb(70, 64, 64));
  box-shadow: 0 4px 3px -3px black;
}
